@model EDI_prjct.Models.Utilisateur

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <head>

      
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/Content/css/style.css">

    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h1 class="heading-section">Login EDILTE </h1>
                        <h4>Contribuable </h4>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <form action="#" class="login-form">
                                <div class="form-group d-flex">
                                    
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control rounded-left", @placeholder = "Pseudo"  } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group d-flex">
                                   
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control rounded-left" , @placeholder = "Mot de passe" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50">
                                        <label class="checkbox-wrap checkbox-primary">
                                            Remember Me
                                            <input type="checkbox" checked>
                                           
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning rounded submit p-3 px-5">Connexion</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="~/Content/js/plugins/jquery-3.3.1.min.js"></script>
        <script src="~/Content/js/popper.js"></script>
        <script src="~/Content/js/plugins/bootstrap.min.js"></script>
        <script src="~/Content/js/adminlte.js"></script>

    </body>
   

}
    <div>
        @Html.ActionLink("Retour", "Index")
    </div>
